[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pgeocode = "*"
drf-yasg = "1.21.3"
coverage = "*"
usaddress = "*"

[dev-packages]
black = "*"
pip-tools = "*"
python-dotenv = "*"
sphinx = "*"
pydoctor = "*"

[requires]
python_version = "3.10"
